/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Add more styles as needed */
.custom-badge-green {
  background-color: rgb(92, 92, 92);
  font-size: 0.7rem; /* Tamaño del texto */
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 5px; /* Bordes redondeados */
}

.custom-badge-red {
  background-color: rgb(92, 92, 92);
  font-size: 0.7rem; /* Tamaño del texto */
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 5px; /* Bordes redondeados */
}
.bg-amarillo-100{
  background-color: #DFE456;
}

bg-amarillo-200{
  background-color: #DFE456;
}

/* Estado no seleccionado */
.data-\[state\=unchecked\]\:bg-yelow[data-state="unchecked"] {
  --tw-bg-opacity: 1;
  background-color: rgb(92, 92, 92);
}

/* Estado seleccionado */
.data-\[state\=checked\]\:bg-grenn[data-state="checked"] {
  --tw-bg-opacity: 1;
  background-color: rgba(74 222 128); /* verde-400 de Tailwind */
}